@include font-faces;

html {
    font-size: 62.5%;
}

body {
    color: $font-colour-default;
    font-family: $font-family-body;
    -webkit-font-smoothing: antialiased;
}

%h1-core {
    color: $font-colour-default;
    font-family: $font-family-heading;
    font-weight: 700;
    @include rem($font-size-h1);
    line-height: $line-height-h1;
    text-transform: uppercase;
}

h1, .h1 {
    @extend %h1-core;
    margin-bottom: 6px;
}

%h2-core {
    color: $colour-heading;
    font-family: $font-family-heading;
    font-weight: 700;
    @include rem($font-size-h2);
    line-height: $line-height-h2;
    text-transform: uppercase;
}

h2, .h2 {
    @extend %h2-core;
    margin-bottom: 6px;
}

%h3-core {
    color: $colour-heading;
    font-family: $font-family-heading;
    @include rem($font-size-h3);
    line-height: $line-height-h3;
    text-transform: uppercase;
}

h3, .h3 {
    @extend %h3-core;
    margin-bottom: $baseline;
}

h4, .h4 {
    color: $colour-heading;
    font-family: $font-family-heading;
    font-weight: normal;
    line-height: $line-height-h4;
    margin-bottom: $baseline;
    // margin-top: #{$line-height-h4 / 2}em;
    @include rem($font-size-h4);
}

%text-body-core {
    @include rem($font-size-p);
    font-family: $font-family-body;
    line-height: $line-height-p;
}

p, .p {
    @extend %text-body-core;
    margin-bottom: $baseline;
}

a {
    color: inherit;
}

label,
.label {
    color: $colour-form-control;
    display: block;
    font-size: 12px;
    //font-family: $font-family-heading;
    font-family: 'robotolight';
    text-transform: uppercase;
}

legend,
.legend {
    // color: $colour-primary;
    color: #ccc;
    @include rem($font-size-legend);
    font-family: $font-family-heading;
    line-height: $line-height-legend;
    margin-bottom: 1em;
}

.text-lead {
    @include rem($font-size-lead);
    line-height: $line-height-lead;
    margin-bottom: $baseline;
}

.text-small {
    @include rem($font-size-sm);
    line-height: $line-height-sm;
    margin-bottom: $baseline;
}

li {
    @extend %text-body-core;
}

// TODO move to a component
// TODO change to centered heading
.product-heading {
    // @extend %h2-core;
    @include breakpoint-down(sm) {
        text-align: center;
    }
}

.product-heading__brand {
    // font-size: 12px;
    // order: 2;
    // text-transform: uppercase;
}

.product-heading__brand,
.product-heading__title {
    display: inline-block;
}
