.g-header {
    border-bottom: 1px solid $colour-border-reg;
    margin-bottom: 12px;
}

.g-header__wrapper {
    @extend .container;
    padding: 6px 0;
}

.g-header__grid {
    display: flex;
    padding: 0 $grid-gutter;
    // @extend .row;
    align-items: center;
    @include breakpoint-down(md) {
        justify-content: flex-end;
    }
}

.g-header__logo {
    width: 50px;
    @include breakpoint-down(md) {
        margin-right: auto;
    }

    & img {
        width: 100%;
    }
}

.g-header__navigation {
    width: 50%;
}

.g-header__search {
    @include breakpoint-down(md) {
        background: #fff;
        top: 60px;
        left: 0;
        padding: $baseline;
        position: fixed;
        transition: transform .5s;
        transform: translateX(100%);
        width: 100%;

        .action-search-show & {
            transform: translateX(0);
        }
    }

    @include breakpoint-up(lg) {
        margin-left: auto;
        padding-right: 12px;
        width: 200px;
    }
}

.g-header__btn-group {
    display: flex;
    justify-content: flex-end;
    width: 50%;

    @include breakpoint-up(lg) {
        display: none;
    }
}

.g-header__basket {
    @include breakpoint-up(lg) {
        display: none;
    }
    width: 36px;
}
