$transition-duration-default: 0.4s;
$transition-timing-function-default: cubic-bezier(0.1, 0.57, 0.1, 1);

.g-navigation {
    @include breakpoint-down(sm) {
        background: #fff;
        height: 100%;
        right: 0;
        overflow-y: auto;
        position: fixed;
        top: 0;
        max-width: 300px;
        width: calc(100% - 60px);
        z-index: 1001;
        // TODO move to mixin
        transform: translate3d(100%,0,0);
        transition: transform 0.4s;
        transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);

        .action-nav-show & {
            transform: translate3d(0,0,0);
            box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
        }
    }

}

.g-screen {
    background-color: rgba(0,0,0, 0.7);
    display: none;
    opacity: 0;
    transition: opacity $transition-duration-default $transition-timing-function-default;
    // TODO @extend %full-screen
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    .action-nav-show & {
        display: block;
        opacity: 1;
    }
}

// TODO pass a class name into IconButton instead and stop using ids!
#g-menu-button--close {
    @include breakpoint-up(md) {
        display: none;
    }
}

.nav-list {

    &--l0 {

    }

    &--l1 {
        @include breakpoint-up(md) {
            // TODO hide off canvas instead
            display: none;
        }
    }
}

.nav-list__item {

    &--l0 {
        @include breakpoint-up(md) {
            display: inline-block;
            margin-right: $baseline * 2;
        }
    }

    &--l1 {

    }
}

%nav-link {
    display: block;
    background-color: #f7f7f7;
    border-color: #e5e5e5;
    border-top: 1px solid #e5e5e5;
    padding: 23px 46px 22px 30px;
}

.nav-list__item-link {
    &--l0 {
        // text-transform: uppercase;
        // font-weight: bold;

        @extend %nav-link;
    }

    &--l1 {
        @extend %nav-link;
    }
}



// .main-menu__btn-close {
//     float: right;
//     margin: 10px;
// }

// .main-menu__container {
//     padding: 0 35px;
// }
