//
// Simple grids
//

.grid-products {
    @extend .row;
}

.grid-products__item {
    @extend .col-sm-3;
    margin-bottom: 8 * $baseline;
}

.grid-sizes {
    display: flex;
    flex-wrap: wrap;
}

.grid-sizes__item {
    flex-basis: 25%;
}



// These are the core grid classes TODO check them



%wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
    width: 100%;

    // 540px	720px	960px	1140px
    // @include breakpoint-only(sm) {
    //     max-width: 540px;
    // }
    //
    // @include breakpoint-only(md) {
    //     max-width: 720px;
    // }
    //
    // @include breakpoint-only(lg) {
    //     max-width: 960px;
    // }
    //
    // @include breakpoint-only(xl) {
    //     max-width: 1140px;
    // }
}

%grid {
    display: flex;
    // justify-content: space-between;
    margin-left: -$grid-gutter;
    margin-right: -$grid-gutter;
}

.grid__col {
    background: rgba(255,0,0,0.5);
    @include grid-col(6);
}
