.list-std {
    list-style: disc;
    margin-left: 16px;
}

.list-std__item {

}

.list-action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list-action__item {
    margin-left: 18px;
    &--tight {
        margin-left: 12px;
    }
}

.list-action__link {
    // @include font-size($font-size-list);

    img {
        font-size: 18px;
    }
}

// Rubbish. Move to .header1
.list-group-menu {

}

.list-group-menu__heading {
    color: $colour-text-heading-invert;
    text-transform: uppercase;
    // move to typography
    letter-spacing: 3px;
    font-size: 12px;

    &:after {
        content: '';
        display: block;
        width: 30px;
        height: 4px;
        background: $colour-text-heading-invert;
        bottom: 0;
        margin-top: 20px;
        margin-bottom: 35px;
    }
}

.list-icon {
    display: flex;
}

.list-icon__item {
    margin-right: 4 * $baseline;
    width: 20px;
}

.list-icon__item-link {

}

.list-icon__item-img {
    width: 100%;
}

.list-menu {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.list-menu__item {
    width: 50%;
}

.list-menu__item-link {
    // temp
    // @include font-size(1.4);
    line-height: 2;
    &--light {
        color: $colour-text-body-invert;
    }
}

.list-bullet {

}

.list-bullet__item {
    // @extend .p;
    padding-left: 4 * $baseline;
    position: relative;

    &:after {
        content: "•";
        content: "+";
        // color: $colour-primary;
        position: absolute;
        top: 0;
        left: 6px;
        font-size: 12px;
        font-size: 15px;
        // color: #959595;
    }
}

.list-colours {
    display: flex;
}

.list-colours__item {
    border-radius: 50%;
    margin: 0 12px 12px 12px;
    height: 20px;
    width: 20px;

    &--red {
        background: #ea7379;
    }

    &--blue {
        background: #7bc2ef;
    }

    &--yellow {
        background: #f7eaae;
    }

    &--black {
        background: #2d2d38;
    }
}
