.t-catalogue-list {
    @extend .container;
}

.t-catalogue-list__row-main {
    @extend .row;
}

.t-catalogue-list__sidebar {
    @extend .col-2;
    @include breakpoint-down(md) {
        position: absolute;
        left: 0;
        right: 0;
    }
}

.t-catalogue-list__main {
    @extend .col-12, .col-lg-10;
}
