.t-prod {
    @extend .container;
    padding-top: 5 * $baseline;
}

.t-prod__primary-grid {
    @extend .row;
    @include breakpoint-down(sm) {
        flex-direction: column;
    }
}

.t-prod__gallery {
    @extend .col-md-6;
    display: none;
    @include breakpoint-up(md) {
        display: block;
    }

    // TODO bodge
    img {width: 100%;}
}

.t-prod__gallery-mobile {
    @include breakpoint-up(md) {
        display: none;
    }
}

.t-prod__summary {
    @extend .col-md-5, .col-lg-5, .offset-lg-1;
}

.t-prod__info {
    @include breakpoint-down(sm) {
        padding-bottom: 4 * $baseline;
        text-align: center;
    }
}

.t-prod__purchase {
    @include breakpoint-down(sm) {
        padding-top: 4 * $baseline;
    }
}
.t-prod__form {
    border-top: 1px solid $colour-border-reg;
    border-bottom: 1px solid $colour-border-reg;
    margin: (2 * $baseline) 0;
    padding: (2 * $baseline) 0;
}


.t-prod__spec {
    border-top: 1px solid $colour-border-reg;
    margin-top: 8 * $baseline;
    padding-top: 8 * $baseline;
}
