// TODO @mixin grid-push()

@mixin grid-col($span, $gutter: $grid-gutter, $cols: $grid-cols) {
    flex: 0 0 percentage($span / $cols);
    max-width: percentage($span / $cols);
    padding-left: $gutter;
    padding-right: $gutter;
}

@mixin grid-push($span, $cols: $grid-cols) {
    margin-left: percentage($span / $cols);
}

// Size of col-width and number of columns in grid
// @mixin make-col($size, $columns: $grid-columns) {
//   flex: 0 0 percentage($size / $columns);
//   // Add a `max-width` to ensure content within each column does not blow out
//   // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
//   // do not appear to require this.
//   max-width: percentage($size / $columns);
// }

@mixin clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
